<app-header
  (recipesVisibilityFired)="onRecipesVisibilityFired($event)"
  (ShoppingListVisibilityFired)="onShoppingListVisibilityFired($event)"
>
</app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!--<app-recipes
        [ngStyle]="{ display: recipesVisibility ? 'block' : 'none' }"
      ></app-recipes>
      <app-shopping-list
        [ngStyle]="{
          display: shoppingListVisibility ? 'block' : 'none'
        }"
      ></app-shopping-list>-->
